.vs/
.vscode/

*.VC.db
*.VC.opendb

# Solution user files
*.suo
*.user
*.userosscache
*.sln.docstates

Debug/
Release/
x64/
x86/

[Bb]in/
[Oo]bj/

ipch/
*.ipch
ipch/

.vs/*
!.vs/config/



*.idb
*.tlog
*.lastbuildstate

# Incremental linker
*.ilk

# Browse database
*.bsc

out/
out/build/
out/install/

CMakeUserPresets.json


_ReSharper*/
*.DotSettings.user

*.cache
*.aps